<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Coverage">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html"
             target="./tests/coverage"
             lowUpperBound="50"
             highLowerBound="80"
        />
    </logging>
</phpunit>